

@media only screen and (min-width: 700px) {
    *{
        font-family: 'Space Mono', monospace
    }
    .app{
        width: 70em;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin-left: 20em;
    }
    body{
        background-color: #c7cde4;
    }
    
    .head{
        display: flex;
        align-items:center;
    }
    
    .h1{
        margin-right: 17em;
    }
    
    .search{
        border: 10px solid none;
        display: grid;
        background-color: #fff;
        grid-template-columns: 40px 33em 11em 10px;
        padding: 1em .5em;
        border-radius: 1em;
        align-items: center;
        margin-bottom: 2em;
    }
    
    .searchinput{
        outline: none;
        padding: 1.2em 1.5em;
        border: 0;
        font-size: 1.5em;
    }
    .searchbtn{
        border: 0;
        border-radius: 1em;
        background-color: #6879ff;
        padding:1.5em .5em ;
        color: #fff;
        cursor: pointer;
    }
    .searchimg{
        padding-left:10px ;
    }
    
    .body{
        
        
        display: grid;
        grid-template-columns: 12em 33.4em ;
       
    }
    .bo{
        background-color: #fff;
        padding: 2em 1.5em;
        border-radius: 2em;
    }
    .newboi{
        margin-left:12.3em ;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    
    .bodyimg{
        width: 7em;
        height: 7em;
        border-radius: 50%;
        margin-top: 20px;
    }
    
    .bdyoct{
        display: grid;
        grid-template-columns: 23em 29em;
        align-items: center;
        grid-template-rows: 60px 30px;
    }
    
    .octspn2{
        margin-bottom: 10px ;
        color: #6879ff;
    }
    
    .octspan3{
        color: #687c9a;
    }
    
    .rep{
        display: grid;
        grid-template-columns: repeat(3, .7fr);
        /* padding: 1em 4em; */
        margin-top: 1.5em;
        border-radius: .8em;
        background-color: #2e3e6ed3;
    }
    .repobody{
        display: flex;
        flex-direction: column;
    
    }
    .social{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 2em;
        gap: .6em;
    }
    .socialall{
        display: flex;
        align-items: center;
        gap: .4em;
    }
    .socialtxt{
        color: #687c9a;
    }
}

@media only screen and (max-width: 700px) {
    *{
        font-family: 'Space Mono', monospace
    }

    .app{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }
    body{
        background-color: #f6f8FF;
        padding: 15px;
    }
    
    .head{
        display: flex;
        align-items:center;
    } 
    .h1{
        margin-right: 6.6em;
    }
    .search{
        border: 10px solid none;
        display: grid;
        background-color: #fff;
        grid-template-columns: 3.5em 15.4em 6.2em 27px;
        padding: .1em .3em;
        border-radius: 1em;
        align-items: center;
        margin-bottom: 2em;
    }
    .searchinput{
        outline: none;
        padding: 1.2em 1.5em;
        border: 0;
        font-size: 1.5em;
    }
    .searchbtn{
        border: 0;
        border-radius: .7em;
        background-color: #6879ff;
        padding: .2em .1em ;
        color: #fff;
        height: 3.7em;
        cursor: pointer;
    }
    .searchimg{
        padding-left:10px ;
    }
    .bodyimg{
        width: 8em;
        height: 8em;
        border-radius: 50%;
    }
  
    .body{
        display: grid;
        grid-template-columns: 10em 16em ;
        padding-left: 4px;
       
    }
    .bo{
        background-color: #fff;
        padding: 1.2em .5em;
        border-radius: 2em;
    }
    .newboi{
        margin-left:.3em ;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    
    .bdyoct{
        display: grid;
        grid-template-rows: 100px 30px;
    }
    
    .octspn2{
        color: #6879ff;
    }
    
    .octspan3{
        color: #687c9a;
    }
    .newboi{
        display: flex;
        margin-top: 2em;
    }
    .rep{
        display: grid;
        grid-template-columns: repeat(3, 1.7fr);
        background-color: #f6f8FF;
        padding: 1em 2em;
        margin-top: 1.5em;
        border-radius: .8em;
        margin-bottom: 1.3em;
    }
    .repobody{
        display: flex;
        flex-direction: column;
    }
    .social{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 2em;
        gap: .6em;
    }
    .socialall{
        display: flex;
        align-items: center;
        gap: .4em;
    }
    .socialtxt{
        color: #687c9a;
    }
}

.searchbtn:hover{
    opacity: 0.5;
}

.dark{
    display: flex;
    align-items: center;
    gap: 4px;
}